version: "3.8"

services:
  web:
    build: .
    expose:
      - "80"
    volumes:
      - ./html:/var/www/html:rw
    environment:
      - DB_HOST=root
      - DB_USER=root
      - DB_PASS=123
      - DB_NAME=test
    restart: unless-stopped
    networks:
      - internal

  db:
    image: mariadb:10
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: db_tasklyze
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - internal

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    expose:
      - "80"
    environment:
      PMA_HOST: db
    restart: unless-stopped
    networks:
      - internal

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./htpasswd:/etc/nginx/.htpasswd:ro
    depends_on:
      - web
      - phpmyadmin
    restart: unless-stopped
    networks:
      - internal

  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --config /cloudflared/config.yml run
    volumes:
      - ./cloudflared:/cloudflared
    networks:
      - internal

volumes:
  db_data:

networks:
  internal:
    driver: bridge
